.variants{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.variants-btn{
    margin-right: 20px;
    background-color: #fff;
    font-family: "SFUIDisplay";
    color: rgb(12, 12, 12);
    line-height: 1.2;
    font-size: 18px;
    padding: 5px;
    border-radius: 6px !important;
    border: 1px solid #f0f0f0;
    outline: none;
    cursor: pointer;
}
.variants-btn:active,
.variants-btn.active {
    background-color: rgb(222, 70, 4);
    color: #fff;
    border-radius: 6px !important;
}
